*{
    font-family: Calibri;
}
.costat{
    
    background-color:rgb(224, 245, 168);
    border-radius: 10px;
    float: right;
   
    border: 2px black solid;
}
.costat2{
    margin: 5%;

}
.formulari{
    background-color:rgb(224, 245, 168);
    border-radius: 10px;
    display: inline-block ;
    margin-left: 40%;
    padding: 2%;
    border: 2px black solid;
}