*{
    font-family: Calibri;
}

body{
    background-color: rgb(253, 176, 140);
}
div{
    display: flex;
    background-color: rgb(224, 245, 168);
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;
    border-radius: 10px;
    border: 2px black solid;
}
div form{
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 20px;
    display: grid;
    
}
div form label{
    grid-template-columns: auto auto;
    margin-top: 15px;
    

}
div form  input{
    margin-top: 15px;
    width: 100px;
    resize: horizontal;

}

